
@{
    ViewBag.Title = "Alphabetical";
}
<table>
    <tr>
        <td>
            <div class="jumbotron">
                <div class="container">
                    @*<a href="~/Home/Index"><img src="~/images/home.jpg" /></a><br /><br />*@
                    <input type="text" name="search box" class="searchBox" placeholder="Search" />
                    <a href="~/Home/Favourites"><img src="~/images/favourites.png" /><span>favourites</span></a><br /><br />
                    <a href="~/Home/Adjust"><img src="~/images/adjust.png" /><span>adjust</span></a>
                </div>
            </div>
        </td>

        <td>
            <ul>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>

                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>
                <li>data</li>


            </ul>
        </td>


    </tr>
</table>

@section Styles {
    <link href="@Url.Content("~/Scripts/sortedStyle.css")" rel="stylesheet" type="text/css" />
}
@section Scripts{
    
    
}