@{
    ViewBag.Title = "Home Page";
}

@* <img style=" border:2px solid gray; height:150px; width:100%;"class="cover_img" src="~/images/Cover.jpg" />*@

<div class="jumbotron">
    <table class="table-condensed">
        <tr>
            <td><a href="~/Home/Alphabetical"><img src="~/images/alphabetical.png" /><span>alphabetical</span></a></td>
            <td><a href="~/Home/Distance"><img src="~/images/distance.png" /><span>distance</span></a></td>
            <td><a href="~/Home/Rating"><img src="~/images/rating.png" /><span>rating</span></a></td>
        </tr>
    </table>

    <br />
    <table class="table-condensed">
        <tr>
            <td><a href="~/Home/Favourites"><img src="~/images/favourites.png" /><span>favourites</span></a></td>
            <td class="searchHome"><a @*href="~/Home/Search"*@><img src="~/images/search.png" /><span>search</span></a></td>
            <td><a href="~/Home/Adjust"><img src="~/images/adjust.png" /><span>adjust</span></a></td>
        </tr>
    </table>

</div>
@section Styles {
    <link href="@Url.Content("~/Scripts/homepage.css")" rel="stylesheet" type="text/css" />
}
@section Scripts{
    <script>
        var search = $(".searchHome");
        search.click(function () {
            bootbox.prompt("Search",
                function (result) {
                    
                });
            
        });
    </script>    
}