body {
}

.jumbotron {
    background-color: #ebe7db;
    position: relative;
    left: 200px;
    border-top: none;
    padding-left: 300px;
}

table tr {
    text-align: center;
}

.table-condensed > tbody > tr > td {
    position: relative;
    padding: 30px;
    width: 150px;
}

table tr td a {
    position: relative;
    text-decoration: none;
    color: gray;
}

img {
    position: relative;
    height: 150px;
    width: 150px;
}

span {
    position: relative;
    font-family: Verdana;
    font-size: 15px;
}
td.searchHome a{
    cursor: pointer;
}