

@model MVC_APP.Models.ApplicationUser

@{
    ViewBag.Title = "Favourites";
}

<table>
    <tr>
        <td>

            <div class="jumbotron">

                <div class="container">
                    <a href="~/Home/Index"><img src="~/Img/Home-512.png" /><span>home</span></a><br /><br />
                </div>
            </div>
        </td>


        <td>
            <h3>Favourite bars:</h3>
            <ul>
                @{
                    foreach (var b in Model.FavouriteBars)
                    {
                        <li>
                            <a style="color:black;font-size:25px" href="~/CoffeBar/Details/@b.Id">@b.Name</a>

                            <button data-id="@b.Id" class="btn btn-danger">Remove from favourites</button>
                        </li>
                    }
                }



            </ul>
        </td>


            </tr>
</table>

@section Styles {
    <link href="@Url.Content("~/Scripts/sortedStyle.css")" rel="stylesheet" type="text/css" />
}

@section Scripts{
    <script>
        var search = $(".searchBox");

    </script>
}